// app global css in SCSS form
.q-separator {
  margin: 20px 10px;
}

.q-item__label--header {
  padding-bottom: 60px;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  line-height: 100%;
  margin: 20px auto;
}

.footer {
  font-size: 14px;
  text-align: center;
}

.column-container {
  margin: 20px;
}

.home-img {
  margin: 0 auto 20px;
}

.p-16 {
  font-size: 16px;
}

.search-products,
.filter-products,
.quantity-products {
  margin: 20px;
}

.quantity-products {
  font-size: 16px;
  font-weight: 500;
}

.quantity-products span {
  color: #1976d2;
}

.product-img-section {
  max-width: 60px;
  margin-right: 20px;
}

.product-img {
  max-width: 100%;
}

.back-to-top {
  position: fixed;
  right: 16px;
  bottom: 80px; /* Поруч з футером */
}
